@using WebEx2.Models;
<table>
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Data de Nascimento</th>
    </thead>
    <tbody>
        @foreach(var usuario in ViewData["usuarios"] as List<UsuarioModel>){
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Name</td>
                <td>@usuario.Email</td>
                <td>@usuario.Password</td>
                <td>@usuario.BirthDate</td>
            </tr>
        }
    </tbody>
</table>