@model System.Collections.Generic.List<WebMvc.Models.Musica>
@{
    ViewData["Titulo"] = "Music App";
}
<h2>@ViewData["Titulo"]</h2>
<h3>@ViewData["Nome"], seja bem vindo(a)!</h3>
<ul>
    @foreach(var item in @Model){
        <li><strong>Título: </strong>@item.Titulo</li>
        <li><strong>Compositor: </strong>@item.Compositor</li>
        <li><strong>Estilo: </strong>@item.Estilo</li>
        <hr/>
    }
</ul>
<a asp-action = "Edit" asp-route-id="">Teste</a>